# Preprocess Amazon Testset

In [26]:
from google.colab import drive
import numpy as np
import pandas as pd
from itertools import chain

In [2]:
drive.mount('/content/drive', force_remount=True)  # use force_remount=True param after upload of new data

# file and folder names
project_drive_folder = "Master/2 - FSS 2021/Data Mining II/Data Mining Cup" 
full_project_drive_folder = "/content/drive/My Drive/{}/Data/".format(project_drive_folder)

# general
amazon_test_path = full_project_drive_folder + 'Amazon/dmc21_amazon_test.csv'
amazon_test_preprocessed_path = full_project_drive_folder + 'Amazon/dmc21_amazon_test_preprocessed.csv'

Mounted at /content/drive

In [3]:
amazon_test = pd.read_csv(amazon_test_path)

In [4]:
amazon_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 233 entries, 0 to 232
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   itemID   233 non-null    int64
 1   rec1_ID  162 non-null    object
 2   rec2_ID  157 non-null    object
 3   rec3_ID  119 non-null    object
 4   rec4_ID  117 non-null    object
 5   rec5_ID  111 non-null    object
 6   rec6_ID  96 non-null     object
 7   rec7_ID  96 non-null     object
dtypes: int64(1), object(7)
memory usage: 14.7+ KB

In [45]:
amazon_test_row_normalized = amazon_test.melt(id_vars=["itemID"], 
                                              var_name = 'origin_column',
                                              value_name="recID")
amazon_test_row_normalized.dropna(subset=['recID'], inplace=True)
amazon_test_row_normalized['rank'] = amazon_test_row_normalized.apply(lambda row: int(row['origin_column'][3:4]),
                                                                      axis=1)

def chainer(recID):
    return list(chain.from_iterable(recID.str.split(' ')))

# calculate lengths of splits
lens = amazon_test_row_normalized['recID'].str.split(' ').map(len)

# create new dataframe, repeating or chaining as appropriate
amazon_test_final = pd.DataFrame({'itemID': np.repeat(amazon_test_row_normalized['itemID'], lens),
                      'rank': np.repeat(amazon_test_row_normalized['rank'], lens),
                      'recID': chainer(amazon_test_row_normalized['recID'])})
amazon_test_final.sort_values(['itemID', 'rank'], inplace=True)
amazon_test_final.to_csv(amazon_test_preprocessed_path, index=False, index_label=False)

In [46]:
print(amazon_test_final)
amazon_test_final[amazon_test_final['itemID'] == 28853]

     itemID  rank  recID
46     1460     1  50941
279    1460     2  49045
502    1680     3  36071
132    2054     1  69675
365    2054     2  14399
..      ...   ...    ...
7     78675     1  46591
240   78675     2  22205
473   78675     3  49569
706   78675     4  28349
939   78675     5  13656

[977 rows x 3 columns]

      itemID  rank  recID
22     28853     1  63121
22     28853     1  74543
22     28853     1  60875
22     28853     1  76845
22     28853     1  63412
...      ...   ...    ...
1187   28853     6  38552
1187   28853     6  72809
1187   28853     6  76810
1420   28853     7  53533
1420   28853     7  49833

[61 rows x 3 columns]